<template>
  <div class="row justify-center q-my-md">
    <q-btn
      v-for="(props, index) in buttons"
      :color="props.color || 'primary'"
      class="q-my-md"
      :class="[{ 'q-ml-md': index }, props.cssClass]"
      :glossy="!props.flat"
      v-bind="omit(props, 'click', 'cssClass')"
      @click="props.click"
      type="button"
      :key="index"
    ></q-btn>
  </div>
</template>

<script>
import omit from 'lodash/omit'

export default {
  name: 'BtnGroup',
  props: {
    buttons: Array
  },
  methods: {
    omit
  }
}
</script>
