<template>
  <my-field :icon="icon" :validations="validations">
    <q-datetime
      slot="content"
      v-bind="omit($props, 'validations', 'icon')"
      :error="validations && validations.$error"
      :format="format"
      format-model="string"
      @input="val => $emit('update:value', val)"
      v-on="$listeners"
    ></q-datetime>
  </my-field>
</template>

<script>
import omit from 'lodash/omit'
import MyField from './Field'

export default {
  name: 'MyInput',
  props: {
    clearable: {
      type: Boolean,
      default: true
    },
    disable: Boolean,
    icon: String,
    floatLabel: String,
    min: [Date, String, Number],
    max: [Date, String, Number],
    type: {
      type: String,
      default: 'date'
    },
    value: [String, Number, Date],
    validations: Object
  },
  computed: {
    format () {
      let format
      switch (this.type) {
        case 'date':
          format = 'D/M/YYYY'
          break
        case 'time':
          format = 'H:mm'
          break
        default:
          format = 'D/M/YYYY H:mm'
          break
      }
      return format
    }
  },
  methods: {
    omit
  },
  components: {
    MyField
  }
}
</script>
