<template>
  <q-field
    class="q-mb-sm"
    :count="count"
    :error-label="error"
    :icon="icon"
  >
    <slot name="content"></slot>
  </q-field>
</template>

<script>
export default {
  name: 'MyField',
  props: {
    count: Number,
    icon: String,
    validations: Object
  },
  computed: {
    error () {
      const { validations: $v } = this
      if (!$v || !$v.$error) {
        return null
      }
      return Object.keys($v)
        .filter(key => !key.startsWith('$'))
        .reduce((ret, key) => {
          if (!ret) {
            const isValid = $v[key]
            if (!isValid) {
              ret = this.$t(`form.${key}`, $v.$params[key])
            }
          }
          return ret
        }, '')
    }
  }
}
</script>
