<template>
  <my-field
    :count="maxLength"
    :icon="icon"
    :validations="validations"
  >
    <q-input
      slot="content"
      autocomplete="off"
      v-bind="omit($props, 'validations', 'icon', 'maxLength')"
      :error="validations && validations.$error"
      @input="onInput"
      v-on="$listeners"
    ></q-input>
  </my-field>
</template>

<script>
import omit from 'lodash/omit'
import MyField from './Field'

export default {
  name: 'MyInput',
  props: {
    clearable: {
      type: Boolean,
      default: true
    },
    icon: String,
    floatLabel: String,
    lowerCase: Boolean,
    type: String,
    value: String,
    validations: Object,
    maxHeight: Number,
    rows: Number,
    maxLength: Number
  },
  methods: {
    omit,
    onInput (val) {
      this.validations.$reset()
      this.$emit('update:value', val)
    }
  },
  components: {
    MyField
  }
}
</script>
