<template>
  <my-field :icon="icon" :validations="validations">
    <q-select
      slot="content"
      :error="validations && validations.$error"
      v-bind="omit($props, 'validations', 'icon')"
      @input="val => $emit('update:value', val)"
      v-on="$listeners"
    ></q-select>
  </my-field>
</template>

<script>
import MyField from './Field'
import omit from 'lodash/omit'

export default {
  name: 'MySelect',
  props: {
    clearable: {
      type: Boolean,
      default: true
    },
    disable: Boolean,
    filter: Boolean,
    icon: String,
    floatLabel: String,
    options: Array,
    value: Number,
    validations: Object
  },
  methods: {
    omit
  },
  components: {
    MyField
  }
}
</script>
