<template>
  <div class="row justify-center q-my-lg">
    <q-toggle v-bind="$props" @input="val => $emit('update:value', val)" />
  </div>
</template>

<script>
export default {
  name: 'MyToggle',
  props: {
    label: String,
    value: Boolean
  }
}
</script>
