<template>
  <div class="row justify-between items-center q-mt-lg">
    <div class="q-subtitle bold">
      {{ $t('user.projects') }}
    </div>
    <my-btn-group
      :buttons="[{
        fabMini: true,
        flat: true,
        icon: 'fas fa-plus',
        click: newProject
      }]"
    ></my-btn-group>
    <q-table
      v-if="filteredProjects.length"
      class="full-width"
      grid
      :data="filteredProjects"
      :columns="[
        { field: row => getProject(row.project_id).name, label: $t('label.name') },
        { field: 'start_date', label: $t('label.range.start') },
        { field: 'end_date', label: $t('label.range.end') }
      ]"
      hide-bottom
      :pagination="{ rowsPerPage: 0 }"
    >
      <q-tr slot="body" slot-scope="{ row }">
        <q-td class="text-right">{{ getProject(row.project_id).name }}</q-td>
        <q-td class="text-right">{{ formatDate(row.start_date) }}</q-td>
        <q-td class="text-right">{{ formatDate(row.end_date) }}</q-td>
        <q-td class="icons-cell">
          <q-btn
            color="secondary"
            fab-mini
            flat
            @click="project = Object.assign({}, row)"
          >
            <q-icon name="fas fa-pen" size="1rem"></q-icon>
          </q-btn>
          <q-btn
            color="negative"
            fab-mini
            flat
            @click="removeProject(row)"
          >
            <q-icon name="far fa-trash-alt" size="1.3rem"></q-icon>
          </q-btn>
        </q-td>
      </q-tr>
    </q-table>
    <q-modal
      content-classes="q-px-lg q-py-md"
      ref="modal"
      v-model="showModal"
    >
      <template v-if="project">
        <my-select
          filter
          :float-label="$t('label.company')"
          :options="sortOptions(companies.map(c => ({
            label: c.name,
            value: c.id
          })))"
          :value.sync="company_id"
        ></my-select>
        <my-select
          :filter="!company_id"
          :float-label="$t('label.project')"
          :options="sortOptions(projects
            .filter(p => !p.is_global && (!company_id || company_id === p.company_id))
            .map(c => ({
              label: c.name,
              value: c.id
            })))"
          :value.sync="project.project_id"
          :validations="$v.project.project_id"
        ></my-select>
        <my-datetime
          :float-label="$t('label.range.start')"
          :max="project.end_date"
          :value.sync="project.start_date"
          :validations="$v.project.start_date"
        ></my-datetime>
        <my-datetime
          :float-label="$t('label.range.end')"
          :min="project.start_date"
          :value.sync="project.end_date"
        ></my-datetime>
        <div class="row justify-center q-my-md">
          <q-option-group
            color="primary"
            type="checkbox"
            :options="workDays"
            v-model="project.work_days"
          ></q-option-group>
        </div>
        <my-btn-group
          :buttons="[{
            label: $t('action.save'),
            click: submit
          }, {
            flat: true,
            label: $t('action.cancel'),
            click: hideModal
          }]"
        ></my-btn-group>
      </template>
    </q-modal>
  </div>
</template>

<script>
import { required, numeric } from 'vuelidate/lib/validators'
import formMixin from 'src/mixins/form'
import { mapState, mapGetters } from 'vuex'
import sortBy from 'lodash/sortBy'
import { getDate } from 'src/utils/date'
import { axios } from 'src/plugins/axios'

export default {
  name: 'UserProjects',
  mixins: [formMixin],
  props: {
    user: Object
  },
  data: () => ({
    company_id: null,
    project: null,
    showModal: false
  }),
  watch: {
    project (val) {
      this.showModal = !!val
    },
    showModal (val) {
      if (!val) {
        this.$v.$reset()
        this.company_id = null
      }
    }
  },
  computed: {
    ...mapState({
      companies: state => state.companies.data,
      projects: state => state.projects.data
    }),
    ...mapGetters('projects', {
      getProject: 'find'
    }),
    workDays () {
      let { days } = this.$q.i18n.date
      return days.map((label, value) => ({ label, value }))
    },
    filteredProjects () {
      const { user } = this
      if (user && user.projects) {
        return user.projects.filter(p => !this.getProject(p.project_id).is_global)
      }
      return []
    }
  },
  methods: {
    newProject () {
      this.selectedProject = null
      this.project = {
        user_id: this.user.id,
        project_id: null,
        work_days: [1, 2, 3, 4, 5],
        start_date: null,
        end_date: null
      }
    },
    sortOptions (options) {
      return sortBy(options, 'label')
    },
    onSubmit () {
      const { project } = this
      if (project.id) {
        return axios.put(`user-projects/${project.id}`, project)
      }
      return axios.post('user-projects', project)
    },
    onSubmitOk () {
      this.$emit('saved')
      this.hideModal()
    },
    async hideModal () {
      await this.$refs.modal.hide()
      this.project = null
    },
    formatDate (date) {
      date = getDate(date)
      if (date) {
        return date.toLocaleDateString()
      }
      return '-'
    },
    removeProject (project) {
      this.removeDialog()
        .then(() => axios.delete(`user-projects/${project.id}`))
        .then(() => { this.$emit('saved') })
        .catch(() => {})
    }
  },
  validations: {
    project: {
      user_id: { required, numeric },
      project_id: { required, numeric },
      start_date: { required }
    }
  }
}
</script>

<style lang="stylus" scoped>
.icons-cell
  padding 0
  padding-right 1.5rem
</style>
