<template>
  <form name="frmUser">
    <my-input
      :float-label="$t('label.name')"
      :validations="$v.user.name"
      :value.sync="user.name"
      @keyup.enter="submit"
    ></my-input>
    <my-input
      :float-label="$t('label.surname')"
      :validations="$v.user.surname"
      :value.sync="user.surname"
      @keyup.enter="submit"
    ></my-input>
    <my-input
      :float-label="$t('label.email')"
      lower-case
      type="email"
      :validations="$v.user.email"
      :value.sync="user.email"
      @keyup.enter="submit"
    ></my-input>
    <my-toggle
      :label="$t('label.is_admin')"
      :value.sync="user.is_admin"
    ></my-toggle>
    <my-btn-group
      :buttons="[{
        label: $t('action.save'),
        loading,
        click: submit
      }]"
    ></my-btn-group>
    <user-projects v-if="user.id" :user="user" v-on="$listeners" />
  </form>
</template>

<script>
import UserProjects from './UserProjects'
import { required, email } from 'vuelidate/lib/validators'
import formMixin from 'src/mixins/form'
import { axios } from 'src/plugins/axios'

export default {
  name: 'UserForm',
  mixins: [formMixin],
  props: {
    user: Object
  },
  watch: {
    user: {
      handler () {
        this.$v.$reset()
      },
      deep: true
    }
  },
  methods: {
    onSubmit () {
      const { user } = this
      if (user.id) {
        return axios.put(`users/${user.id}`, user)
      }
      return axios.post('users', user)
    },
    onSubmitOk ({ data }) {
      this.$emit('saved', data.id)
    }
  },
  validations: {
    user: {
      name: { required },
      surname: { required },
      email: { required, email }
    }
  },
  components: {
    UserProjects
  }
}
</script>
