<template>
  <div class="q-mt-lg row justify-center full-width" v-if="user">
    <div class="row justify-center full-width">
      <my-datetime
        class="col-xs-6 col-sm-4 col-md-3 col-lg-2"
        disable
        :float-label="$t('label.day')"
        :value.sync="date"
      ></my-datetime>
    </div>
    <q-table
      class="q-mb-lg q-mt-md"
      v-if="dayLocations.length"
      grid
      :data="dayLocations"
      :columns="[
        { field: row => getProject(row.project_id).name, label: $t('label.name') },
        { field: 'start_at', label: $t('label.range.start') },
        { field: 'end_at', label: $t('label.range.end') }
      ]"
      hide-bottom
      :pagination="{ rowsPerPage: 0 }"
    >
      <q-tr slot="body" slot-scope="{ row }">
        <q-td class="text-right">{{ getProject(row.project_id).name }}</q-td>
        <q-td class="text-right">{{ row.start_at }}</q-td>
        <q-td class="text-right">{{ row.end_at }}</q-td>
        <q-td class="icons-cell">
          <q-btn
            color="negative"
            fab-mini
            flat
            @click="removeLocation(row)"
          >
            <q-icon name="far fa-trash-alt" size="1.3rem"></q-icon>
          </q-btn>
        </q-td>
      </q-tr>
    </q-table>
    <template v-if="report">
      <div class="bold q-subtitle q-mt-xl q-mb-md full-width text-center">
        {{ $t('user.addReport') }}
      </div>
      <form
        class="col-xs-12 col-md-6 col-lg-4"
        new="FormReport"
      >
        <my-select
          :float-label="$t('label.project')"
          :options="projectOptions"
          :value.sync="report.project_id"
          :validations="$v.report.project_id"
        ></my-select>
        <my-datetime
          :float-label="$t('label.range.start')"
          type="time"
          :value.sync="report.start_at"
          :validations="$v.report.start_at"
        ></my-datetime>
        <my-datetime
          :float-label="$t('label.range.end')"
          type="time"
          :value.sync="report.end_at"
          :validations="$v.report.end_at"
        ></my-datetime>
        <my-btn-group
          :buttons="[{
            label: $t('action.confirm'),
            loading,
            click: submit
          }]"
        ></my-btn-group>
      </form>
    </template>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import isEqual from 'lodash/isEqual'
import sortBy from 'lodash/sortBy'
import { getDate } from 'src/utils/date'
import formMixin from 'src/mixins/form'
import { required } from 'vuelidate/lib/validators'
import { axios } from 'src/plugins/axios'

export default {
  name: 'DateForm',
  mixins: [formMixin],
  data: () => ({ report: null }),
  props: {
    date: Date,
    user: Object
  },
  computed: {
    ...mapGetters({ getProject: 'projects/find' }),
    dayLocations: vm => (vm.user && vm.user.locations.filter(l => isEqual(getDate(l.date), vm.date))) || [],
    projectOptions () {
      const { user: { projects }, date, getProject } = this
      const options = projects
        .filter(p => {
          const isValid = getDate(p.start_date) <= date && (!p.end_date || getDate(p.end_date) >= date)
          return isValid || getProject(p.project_id).is_global
        })
        .map(p => {
          const { id, name } = getProject(p.project_id)
          return ({
            label: name,
            value: id
          })
        })

      return sortBy(options, 'label')
    }
  },
  methods: {
    ...mapActions('users', { loadUsers: 'load' }),
    removeLocation ({ id }) {
      this.removeDialog()
        .then(() => axios.delete(`locations/${id}`))
        .then(() => this.loadUsers())
        .then(() => this.$q.notify({
          type: 'positive',
          message: this.$t('action.saved')
        }))
    },
    onSubmit () {
      return axios.post('locations', this.report)
        .then(() => { this.loadUsers() })
        .then(() => { this.resetForm() })
    },
    resetForm () {
      this.$v.$reset()
      this.report = {
        user_id: this.user.id,
        project_id: null,
        date: this.date.toLocaleDateString(),
        start_at: null,
        end_at: null
      }
    }
  },
  mounted () {
    this.resetForm()
  },
  validations: {
    report: {
      project_id: { required },
      start_at: { required },
      end_at: { required }
    }
  }
}
</script>
