<template>
  <q-page class="flex flex-center">
    <my-btn-group :buttons="buttons"></my-btn-group>
  </q-page>
</template>

<script>
import { PAGE } from 'src/router/routes'

export default {
  name: 'PageIndex',
  data: () => ({ PAGE }),
  computed: {
    buttons () {
      const { $t, $router } = this
      return [{
        cssClass: 'full-width',
        color: 'info',
        label: $t('menu.reports'),
        click: () => { $router.push(`/${PAGE.reports}`) }
      }, {
        cssClass: 'full-width',
        color: 'primary',
        label: $t('menu.notify'),
        click: () => { $router.push(`/${PAGE.notify}`) }
      }]
    }
  }
}
</script>
