<template>
  <transition appear :enter-active-class="transition">
    <q-page class="flex flex-center row justify-center" padding>
      <div class="full-width row justify-center">
        <img class="logo" alt="Logo" src="~assets/logo.png">
      </div>
      <form
        class="col-xs-12 col-sm-8 col-md-6 col-lg-4 q-px-sm"
        name="frmLogin"
        @submit.prevent="submit"
      >
        <my-input
          autocomplete="off"
          class="full-width q-mb-md"
          icon="far fa-envelope fa-fw"
          :float-label="$t('label.email')"
          lower-case
          type="email"
          :validations="$v.form.email"
          :value.sync="form.email"
          @input="error = null"
          @keyup.enter="submit"
        ></my-input>
        <my-input
          autocomplete="off"
          class="full-width q-mb-md"
          icon="far fa-keyboard fa-fw"
          :float-label="$t('label.password')"
          type="password"
          :validations="$v.form.password"
          :value.sync="form.password"
          @input="error = null"
          @keyup.enter="submit"
        ></my-input>
        <transition v-if="error" appear enter-active-class="animated headShake">
          <p class="full-width text-center text-negative q-mt-md q-mb-lg">
            {{ error }}
          </p>
        </transition>
        <my-toggle
          :label="$t('user.login.remember')"
          :value.sync="form.remember"
        ></my-toggle>
        <my-btn-group
          :buttons="[{
            label: $t('user.login.submit'),
            loading,
            click: submit
          }]"
        ></my-btn-group>
      </form>
      <my-btn-group
        class="full-width"
        :buttons="[{
          flat: true,
          label: $t('user.recover.link'),
          click: goToRecover
        }]"
      ></my-btn-group>
    </q-page>
  </transition>
</template>

<script>
import formMixin from 'src/mixins/form'
import { PAGE } from 'src/router/routes'
import { email, required } from 'vuelidate/lib/validators'
import { mapActions } from 'vuex'

export default {
  name: 'Page',
  mixins: [formMixin],
  data: () => ({
    error: null,
    form: {
      email: '',
      password: '',
      remember: true
    }
  }),
  computed: {
    transition () {
      const { mobile } = this.$q.platform.is
      const animation = (mobile ? 'slideInUp' : 'fadeIn')
      return `animated ${animation}`
    }
  },
  methods: {
    ...mapActions('auth', ['login']),
    onSubmit () {
      return this.login(this.form)
    },
    onSubmitOk () {
      this.$router.replace('/')
    },
    onSubmitError () {
      this.error = this.$t('user.login.error')
    },
    goToRecover () {
      this.$router.push(PAGE.recover)
    }
  },
  validations: {
    form: {
      email: { required, email },
      password: { required }
    }
  }
}
</script>
