<template>
  <q-page padding class="row justify-center">
    <form
      class="col-xs-12 col-md-8 col-lg-6 col-xl-4"
      name="frmNotify"
      @submit.prevent="submit"
    >
      <my-datetime
        :float-label="isPartial ? $t('label.day') : $t('label.range.start')"
        :max="form.day.end"
        :value.sync="form.day.start"
        :validations="$v.form.day.start"
      ></my-datetime>
      <my-datetime
        v-if="!isPartial"
        :float-label="$t('label.range.end')"
        :min="form.day.start"
        :value.sync="form.day.end"
        :validations="$v.form.day.end"
      ></my-datetime>
      <template v-if="isPartial">
        <my-datetime
          :float-label="$t('label.range.start')"
          :max="form.time.end"
          type="time"
          :value.sync="form.time.start"
          :validations="$v.form.time.start"
        ></my-datetime>
        <my-datetime
          :float-label="$t('label.range.end')"
          :min="form.time.start"
          type="time"
          :value.sync="form.time.end"
          :validations="$v.form.time.end"
        ></my-datetime>
      </template>
      <my-toggle
        :label="$t('label.partialDay')"
        :value.sync="isPartial"
      ></my-toggle>
      <my-select
        class="q-mt-xl"
        :float-label="$t('label.project')"
        :options="projectOptions"
        :value.sync="form.project_id"
        :validations="$v.form.project_id"
      ></my-select>
      <my-input
        :maxLength="maxLength"
        :float-label="$t('label.description')"
        :rows="5"
        type="textarea"
        :value.sync="form.description"
        :validations="$v.form.description"
      ></my-input>
      <my-btn-group
        :buttons="[{
          label: $t('action.confirm'),
          loading,
          click: submit
        }]"
      ></my-btn-group>
    </form>
  </q-page>
</template>

<script>
import { required, requiredIf, maxLength } from 'vuelidate/lib/validators'
import { mapState, mapGetters } from 'vuex'
import sortBy from 'lodash/sortBy'
import formMixin from 'src/mixins/form'
import { getDate } from 'src/utils/date'
import axios from 'axios'
import { axios as api } from 'src/plugins/axios'

export default {
  name: 'NotifyPage',
  mixins: [formMixin],
  data: () => ({
    form: {
      day: {
        start: null,
        end: null
      },
      time: {
        start: null,
        end: null
      },
      project_id: null,
      description: ''
    },
    isPartial: false,
    maxLength: 300
  }),
  watch: {
    isPartial (val) {
      if (val) {
        this.form.day.end = null
      }
    }
  },
  computed: {
    ...mapState('auth', ['user']),
    ...mapGetters('users', { getUser: 'find' }),
    ...mapGetters('projects', { getProject: 'find' }),
    me: vm => vm.getUser(vm.user.id),
    projectOptions () {
      let { projects } = this.me

      projects = projects
        .map(p => this.getProject(p.project_id))
        .filter(p => p.is_global)
        .map(p => ({
          label: p.name,
          value: p.id
        }))

      return sortBy(projects, 'label')
    }
  },
  methods: {
    onSubmit () {
      const promises = []
      const { form: { description, project_id: projectId }, me: { id: userId } } = this
      if (this.isPartial) {
        promises.push({
          date: getDate(this.form.day.start).toLocaleDateString(),
          start_at: this.form.time.start,
          end_at: this.form.time.end,
          project_id: projectId,
          description,
          user_id: userId
        })
      } else {
        const { start, end } = this.form.day
        const date = getDate(start)
        while (date <= getDate(end)) {
          promises.push(Object.assign({
            date: date.toLocaleDateString(),
            start_at: '00:00:00',
            end_at: '23:59:59',
            project_id: projectId,
            description,
            user_id: userId
          }))
          date.setDate(date.getDate() + 1)
        }
      }

      return axios.all(promises.map(p => api.post('locations', p)))
    }
  },
  validations () {
    const { isPartial } = this
    return {
      form: {
        day: {
          start: { required },
          end: {
            required: requiredIf(() => !isPartial)
          }
        },
        time: {
          start: {
            required: requiredIf(() => isPartial)
          },
          end: {
            required: requiredIf(() => isPartial)
          }
        },
        project_id: { required },
        description: {
          maxLength: maxLength(this.maxLength)
        }
      }
    }
  }
}
</script>
