<template>
  <q-page padding>
    <q-collapsible class="full-width" icon="fas fa-key" :label="$t('profile.password.title')" opened>
      <div class="row justify-center">
        <form class="col-xs-12 col-md-8 col-lg-6 col-xl-4">
          <my-input
            autocomplete="off"
            :float-label="$t('profile.password.next')"
            type="password"
            :value.sync="form.next"
            :validations="$v.form.next"
            @keyup.enter="submit"
          ></my-input>
          <my-input
            autocomplete="off"
            :float-label="$t('profile.password.confirm')"
            type="password"
            :value.sync="form.confirm"
            :validations="$v.form.confirm"
            @keyup.enter="submit"
          ></my-input>
          <my-btn-group
            :buttons="[{
              label: $t('action.confirm'),
              loading,
              click: submit
            }]"
          ></my-btn-group>
        </form>
      </div>
    </q-collapsible>
    <my-btn-group
      :buttons="[{
        flat: true,
        icon: 'fas fa-lock',
        label: $t('user.logout'),
        click: onLogout
      }]"
    ></my-btn-group>
  </q-page>
</template>

<script>
import { mapActions } from 'vuex'
import { PAGE } from 'src/router/routes'
import formMixin from 'src/mixins/form'
import { sameAs, minLength, required } from 'vuelidate/lib/validators'
import { axios } from 'src/plugins/axios'

export default {
  name: 'Page',
  mixins: [formMixin],
  data: () => ({
    form: {
      next: '',
      confirm: ''
    }
  }),
  methods: {
    ...mapActions('auth', ['logout']),
    onSubmit () {
      return axios.post('change-password', this.form).then(() => {
        this.form = {
          next: '',
          confirm: ''
        }
        this.$v.$reset()
      })
    },
    async onLogout () {
      await this.logout()
      this.$router.replace(`/${PAGE.login}`)
    }
  },
  validations: {
    form: {
      confirm: {
        required,
        sameAs: sameAs('next')
      },
      next: {
        required,
        minLength: minLength(8)
      }
    }
  }
}
</script>
