<template>
  <q-page class="flex flex-center row justify-center" padding>
    <form
      class="col-xs-12 col-sm-8 col-md-6 col-lg-4 q-px-sm"
      name="frmRecover"
      @submit.prevent="submit"
    >
      <my-input
        autocomplete="off"
        class="full-width"
        icon="far fa-envelope fa-fw"
        :float-label="$t('label.email')"
        lower-case
        type="email"
        :validations="$v.form.email"
        :value.sync="form.email"
        @input="onInput('email')"
        @keyup.enter="submit"
      ></my-input>
      <transition v-if="error" appear enter-active-class="animated headShake">
        <p class="full-width text-center text-negative q-mt-md q-mb-lg">
          {{ error }}
        </p>
      </transition>
      <my-btn-group
        :buttons="[{
          label: $t('action.confirm'),
          loading,
          click: submit
        }, {
          flat: true,
          label: $t('action.back'),
          click: goBack
        }]"
      ></my-btn-group>
    </form>
  </q-page>
</template>

<script>
import { email, required } from 'vuelidate/lib/validators'
import formMixin from 'src/mixins/form'
import { mapActions } from 'vuex'
import { PAGE } from 'src/router/routes'

export default {
  name: 'RecoverPage',
  mixins: [formMixin],
  data: () => ({
    error: null,
    form: {
      email: ''
    }
  }),
  methods: {
    ...mapActions('auth', ['recover']),
    onSubmit () {
      return this.recover(this.form)
    },
    onSubmitOk () {
      this.$q.notify({
        type: 'info',
        message: this.$t('user.recover.sent')
      })
      this.$router.push(PAGE.login)
    },
    onSubmitError () {
      this.error = this.$t('action.error')
    },
    goBack () {
      this.$router.go(-1)
    }
  },
  validations: {
    form: {
      email: { email, required }
    }
  }
}
</script>
