<template>
  <q-page padding>
    <div class="row justify-center" v-if="selectedUser">
      <div v-if="me.is_admin" class="row justify-center q-mb-lg">
        <my-select
          class="full-width"
          filter
          :float-label="$t('label.user')"
          :options="userOptions"
          :value.sync="userId"
        ></my-select>
      </div>
      <div class="full-width row justify-center">
        <v-calendar
          ref="calendar"
          class="v-calendar"
          :is-expanded="$q.platform.is.desktop"
          :attributes="calendarAttrs"
          @dayclick="({ date }) => selectedDate = date"
        ></v-calendar>
      </div>
      <date-report
        v-if="selectedDate"
        :date="selectedDate"
        :user="selectedUser"
      ></date-report>
    </div>
  </q-page>
</template>

<script>
import { mapGetters, mapState } from 'vuex'
import groupBy from 'lodash/groupBy'
import sortBy from 'lodash/sortBy'
import { getDate } from 'src/utils/date'
import DateReport from 'src/components/reports/DateReport'

const BG_COLOR = {
  positive: '#4caf50',
  warning: '#f2c037',
  negative: '#db2828'
}

const TEXT_COLOR = {
  positive: 'white',
  warning: 'black',
  negative: 'white'
}

export default {
  name: 'ReportsPage',
  data: () => ({
    selectedDate: null,
    userId: null
  }),
  computed: {
    ...mapState('users', { users: 'data' }),
    ...mapState('auth', ['user']),
    ...mapGetters({
      username: 'users/getName',
      getUser: 'users/find'
    }),
    me: vm => vm.getUser(vm.user.id),
    calendarAttrs () {
      const { locations } = this.selectedUser

      const positive = locations.filter(l => !!l.start_at && !!l.end_at)
      const warning = locations.filter(l => !l.start_at || !l.end_at)
      const negative = locations.filter(l => !l.start_at && !l.end_at)

      return [
        this.getLocations(positive, BG_COLOR.positive, TEXT_COLOR.positive),
        this.getLocations(warning, BG_COLOR.warning, TEXT_COLOR.warning),
        this.getLocations(negative, BG_COLOR.negative, TEXT_COLOR.negative)
      ]
    },
    selectedUser: vm => vm.getUser(vm.userId),
    userOptions () {
      const users = this.users.map(({ id }) => ({
        label: this.username(id),
        value: id
      }))

      return sortBy(users, 'label')
    }
  },
  methods: {
    getLocations (locations, backgroundColor, color) {
      const dates = Object.keys(groupBy(locations, 'date')).map(date => getDate(date))

      return {
        highlight: { backgroundColor },
        contentStyle: { color },
        dates
      }
    }
  },
  mounted () {
    this.userId = this.me.id
  },
  components: {
    DateReport
  }
}
</script>

<style lang="stylus">
.v-calendar
  max-width 320px
</style>
