<template>
  <q-page padding class="row justify-center">
    <div class="col-xs-12 col-md-8 col-xl-6 q-px-sm">
      <div class="row justify-center items-baseline">
        <my-select
          style="width: 320px"
          filter
          :float-label="$tc('action.select', 1)"
          :options="userOptions"
          :value.sync="selectedUser"
        ></my-select>
        <my-btn-group
          class="q-ml-md"
          :buttons="[{
            label: $t('user.new'),
            click: newUser
          }]"
        ></my-btn-group>
      </div>
      <user-form
        v-if="user"
        :user="user"
        @saved="onSaved"
      ></user-form>
    </div>
  </q-page>
</template>

<script>
import kebabCase from 'lodash/kebabCase'
import { mapState, mapGetters, mapActions } from 'vuex'
import sortBy from 'lodash/sortBy'
import UserForm from 'src/components/users/UserForm'

export default {
  name: 'UsersPage',
  data: () => ({
    selectedUser: null,
    user: null
  }),
  watch: {
    selectedUser (id) {
      if (id) {
        this.user = Object.assign({}, this.users.find(u => u.id === id))
      } else {
        this.user = null
      }
    }
  },
  computed: {
    ...mapState('users', { users: 'data' }),
    ...mapGetters('users', {
      getUser: 'find',
      username: 'getName'
    }),
    userOptions () {
      let { users } = this
      users = users.map(({ id, email }) => ({
        label: this.username(id),
        sublabel: email,
        value: id
      }))

      return sortBy(users, ({ label }) => kebabCase(label))
    }
  },
  methods: {
    ...mapActions('users', { loadUsers: 'load' }),
    newUser () {
      this.selectedUser = null
      this.user = {
        name: '',
        surname: '',
        email: '',
        is_admin: false
      }
    },
    async onSaved (userId) {
      this.$q.notify({
        type: 'positive',
        message: this.$t('action.saved')
      })
      await this.loadUsers()
      const { id } = this.user
      this.user = Object.assign({}, this.getUser(userId || id))
    }
  },
  components: {
    UserForm
  }
}
</script>
