<template>
  <q-layout view="lHh Lpr lFf">
    <q-layout-header>
      <q-toolbar glossy>
        <q-btn
          aria-label="Home"
          class="no-shadow"
          fab-mini
          icon="fas fa-home"
          @click="$router.push('/')"
        ></q-btn>

        <q-toolbar-title>
          <div class="bold">Imputapp</div>
          <div slot="subtitle">{{ $t('user.message', user) }}</div>
        </q-toolbar-title>

        <q-btn
          aria-label="Menu"
          class="no-shadow"
          fab-mini
          icon="fas fa-bars"
          @click="showMenu = !showMenu"
        ></q-btn>
      </q-toolbar>
    </q-layout-header>

    <q-layout-drawer
      v-model="showMenu"
      :content-class="$q.theme === 'mat' ? 'bg-grey-2' : null"
    >
      <q-list
        no-border
        link
        inset-delimiter
      >
        <q-item
          v-for="({ icon, link }, key) in menu"
          :key="key"
          @click.native="$router.push(`/${link}`)"
        >
          <q-item-side class="text-center" :icon="icon" />
          <q-item-main :label="$t(`menu.${link}`)" />
        </q-item>
      </q-list>
    </q-layout-drawer>

    <q-page-container class="q-px-sm">
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { PAGE } from 'src/router/routes'
import { mapState, mapActions, mapGetters } from 'vuex'
import { TimeConstants, getDate } from 'src/utils/date'
import moment from 'moment'
import { diffInKms } from 'src/utils/location'
import { axios } from 'src/plugins/axios'

let TIMER_UPDATE_USER
let TIMER_GET_LOCATION

const HOUR_START = 9
const HOUR_END = 17
const KMS_LIMIT = 0.5

export default {
  name: 'LoggedLayout',
  data: () => ({ showMenu: false }),
  computed: {
    ...mapState('auth', ['user']),
    ...mapGetters({
      getCompany: 'companies/find',
      getProject: 'projects/find',
      getUser: 'users/find'
    }),
    me: vm => vm.getUser(vm.user.id),
    menu () {
      const menu = [
        { link: PAGE.reports, icon: 'far fa-calendar-alt' },
        { link: PAGE.notify, icon: 'far fa-bell' },
        { link: PAGE.profile, icon: 'fas fa-user-alt' }
      ]

      const { user } = this
      if (user && user.is_admin) {
        menu.push({ link: PAGE.users, icon: 'fas fa-users' })
      }

      return menu
    }
  },
  watch: {
    me: {
      handler () {
        this.setTimer()
      },
      deep: true
    }
  },
  methods: {
    ...mapActions('users', { loadUsers: 'load' }),
    setTimer () {
      let date = new Date()

      const hour = date.getHours()
      if (hour >= HOUR_END) {
        date = moment(date).add(1, 'days').toDate()
        date.setHours(HOUR_START)
      } else if (hour >= HOUR_START) {
        date.setHours(HOUR_END)
      } else {
        date.setHours(HOUR_START)
      }
      date.setMinutes(0)
      date.setSeconds(0)

      window.console.debug('Geolocalización programada', date)
      TIMER_GET_LOCATION = setTimeout(() => {
        navigator.geolocation.getCurrentPosition(this.sendLocation, this.sendErrorNotification)
        this.setTimer()
      }, date - new Date())
    },
    sendLocation ({ coords: currentPosition }) {
      const current = new Date()
      let [project] = this.me.projects
        .filter(p => !this.getProject(p.project_id).is_global)
        .filter(p => {
          const start = getDate(p.start_date)
          const end = getDate(p.end_date)
          return start && start < current && (!end || end > current) && p.work_days.includes(current.getDay())
        })
        .map(p => this.getProject(p.project_id))

      const [hasLocation] = this.me.locations.filter(l => getDate(l.date).toLocaleDateString() === new Date().toLocaleDateString())

      if (project && !hasLocation) {
        let searched = project
        if (!searched.latitude) {
          searched = this.getCompany(project.company_id)
        }

        if (searched.latitude && searched.longitude && diffInKms(searched, currentPosition) < KMS_LIMIT) {
          const current = new Date()
          const location = {
            user_id: this.me.id,
            project_id: project.id,
            date: current.toLocaleDateString()
          }

          const time = current.toLocaleTimeString()
          if (current.getHours() === HOUR_START) {
            Object.assign(location, { start_at: time })
          } else {
            Object.assign(location, { end_at: time })
          }

          return axios.post('locations', location).then(() => { this.loadUsers() })
        } else {
          this.sendUnlocatedNotification()
        }
      }
    },
    sendErrorNotification () {
      this.pushNotification({
        title: this.$t('notification.error'),
        text: this.$t('notification.message')
      })
    },
    sendUnlocatedNotification () {
      this.pushNotification({
        title: this.$t('notification.unlocated'),
        text: this.$t('notification.message')
      })
    },
    pushNotification ({ title, text }) {
      if ('cordova' in window) {
        cordova.plugins.notification.local.schedule({ title, text })
      } else {
        Notification.requestPermission((permission) => {
          if (permission === 'granted') {
            // eslint-disable-next-line
            new Notification(title, { body: text })
          }
        })
      }
    }
  },
  mounted () {
    TIMER_UPDATE_USER = setInterval(() => {
      this.loadUsers()
    }, TimeConstants.HOUR)

    this.setTimer()
  },
  beforeDestroy () {
    clearInterval(TIMER_UPDATE_USER)
    clearInterval(TIMER_GET_LOCATION)
  }
}
</script>
