<template>
  <div id="q-app">
    <router-view />
  </div>
</template>

<script>
import Vue from 'vue'

import MyBtnGroup from 'src/components/reusables/BtnGroup'
import MyDatetime from 'src/components/reusables/Datetime'
import MyInput from 'src/components/reusables/Input'
import MySelect from 'src/components/reusables/Select'
import MyToggle from 'src/components/reusables/Toggle'

const mixin = Vue.mixin({
  components: {
    MyBtnGroup,
    MyDatetime,
    MyInput,
    MySelect,
    MyToggle
  },
  methods: {
    removeDialog () {
      return this.$q.dialog({
        title: this.$t('action.confirm'),
        message: this.$t('action.removeDialog'),
        ok: this.$t('label.yes'),
        cancel: this.$t('label.no')
      })
    }
  }
})

export default {
  name: 'App',
  mixins: [mixin]
}
</script>
